<a href="https://colab.research.google.com/github/VuNguyenMinhLong/-DAP-FPT-Lab01_1.1-1.2/blob/main/1_Data_Preparation_lab1_1%2B1%2C2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
url = 'https://raw.githubusercontent.com/lenhattung/SP26-AI1904-DAP391m/refs/heads/main/lab_part_2/01%20-%20Linear%20and%20logistic%20regression/data/titanic.csv'
titanic = pd.read_csv(url)
copy = titanic.copy()
titanic.head()

,passenger_id,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,1,"Allen, Miss. Elisabeth Walton",1,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,2,1,1,"Allison, Master. Hudson Trevor",0,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,3,1,0,"Allison, Miss. Helen Loraine",1,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,4,1,0,"Allison, Mr. Hudson Joshua Creighton",0,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,5,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",1,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [ ]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   passenger_id  1309 non-null   int64
 1   pclass        1309 non-null   int64
 2   survived      1309 non-null   int64
 3   name          1309 non-null   object
 4   sex           1309 non-null   int64
 5   age           1046 non-null   float64
 6   sibsp         1309 non-null   int64
 7   parch         1309 non-null   int64
 8   ticket        1309 non-null   object
 9   fare          1308 non-null   float64
 10  cabin         295 non-null    object
 11  embarked      1307 non-null   object
 12  boat          486 non-null    object
 13  body          121 non-null    float64
 14  home.dest     745 non-null    object
dtypes: float64(3), int64(6), object(6)
memory usage: 153.5+ KB

In [ ]:
titanic["passenger_id"].duplicated().sum()

np.int64(0)

In [ ]:
titanic["pclass"].value_counts()

pclass
3    709
1    323
2    277
Name: count, dtype: int64

In [ ]:
titanic['survived'].value_counts()

survived
0    809
1    500
Name: count, dtype: int64

In [ ]:
titanic["sex"].value_counts()

sex
0    843
1    466
Name: count, dtype: int64

In [ ]:
titanic["sibsp"].isnull().sum()

np.int64(0)

In [ ]:
titanic["parch"].isnull().sum()

np.int64(0)

In [ ]:
titanic['ticket'].isnull().sum()

np.int64(0)

In [ ]:
null = titanic["fare"].isnull().sum()
display(null)
median = copy["fare"].median()
copy["Med"] = copy['fare'].fillna(median).round(0)
display(copy)

np.int64(1)

,passenger_id,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,Med
0,1,1,1,"Allen, Miss. Elisabeth Walton",1,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO",211.0
1,2,1,1,"Allison, Master. Hudson Trevor",0,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON",152.0
2,3,1,0,"Allison, Miss. Helen Loraine",1,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",152.0
3,4,1,0,"Allison, Mr. Hudson Joshua Creighton",0,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON",152.0
4,5,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",1,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",152.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,1305,3,0,"Zabour, Miss. Hileni",1,14.5000,1,0,2665,14.4542,NaN,C,NaN,328.0,NaN,14.0
1305,1306,3,0,"Zabour, Miss. Thamine",1,NaN,1,0,2665,14.4542,NaN,C,NaN,NaN,NaN,14.0
1306,1307,3,0,"Zakarian, Mr. Mapriededer",0,26.5000,0,0,2656,7.2250,NaN,C,NaN,304.0,NaN,7.0
1307,1308,3,0,"Zakarian, Mr. Ortin",0,27.0000,0,0,2670,7.2250,NaN,C,NaN,NaN,NaN,7.0
1308,1309,3,0,"Zimmerman, Mr. Leo",0,29.0000,0,0,315082,7.8750,NaN,S,NaN,NaN,NaN,8.0

In [ ]:
copy["pclass"] = copy['pclass'].replace({1:"1st",2:"2nd",3:"3rd"})
copy.sort_values("pclass",ascending = False).reset_index(drop=True)

,passenger_id,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,Med
0,655,3rd,0,"Baccos, Mr. Raffull",0,20.0,0,0,2679,7.2250,NaN,C,NaN,NaN,NaN,7.0
1,861,3rd,1,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,NaN,NaN,NaN,8.0
2,879,3rd,0,"Ilmakangas, Miss. Pieta Sofia",1,25.0,1,0,STON/O2. 3101271,7.9250,NaN,S,NaN,NaN,NaN,8.0
3,878,3rd,0,"Ilmakangas, Miss. Ida Livija",1,27.0,1,0,STON/O2. 3101270,7.9250,NaN,S,NaN,NaN,NaN,8.0
4,877,3rd,0,"Ilieff, Mr. Ylio",0,NaN,0,0,349220,7.8958,NaN,S,NaN,NaN,NaN,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,219,1st,1,"Oliva y Ocana, Dona. Fermina",1,39.0,0,0,PC 17758,108.9000,C105,C,8,NaN,NaN,109.0
1305,220,1st,1,"Omont, Mr. Alfred Fernand",0,NaN,0,0,F.C. 12998,25.7417,NaN,C,7,NaN,"Paris, France",26.0
1306,221,1st,1,"Ostby, Miss. Helene Ragnhild",1,22.0,0,1,113509,61.9792,B36,C,5,NaN,"Providence, RI",62.0
1307,222,1st,0,"Ostby, Mr. Engelhart Cornelius",0,65.0,0,1,113509,61.9792,B30,C,NaN,234.0,"Providence, RI",62.0
1308,1,1st,1,"Allen, Miss. Elisabeth Walton",1,29.0,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO",211.0

In [ ]:
copy["survived"] = copy["survived"].replace({0:"No",1:"Yes"})

In [ ]:
copy["name"] = copy['name'].str.split(",").str[0]
copy["SURName"] = copy['name'].str.split(",").str[1]

In [ ]:
copy["embarked"] = copy['embarked'].replace({"C":"Cherbourg","Q":"Queenstown","S":"Southampton"})
copy.sort_values("embarked", ascending= True).reset_index(drop=True)

,passenger_id,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,Med,SURName
0,658,3rd,Yes,Baclini,1,0.75,2,1,2666,19.2583,NaN,Cherbourg,C,NaN,"Syria New York, NY",19.0,NaN
1,259,1st,Yes,Serepeca,1,30.00,0,0,113798,31.0000,NaN,Cherbourg,4,NaN,NaN,31.0,NaN
2,258,1st,Yes,Schabert,1,35.00,1,0,13236,57.7500,C28,Cherbourg,11,NaN,"New York, NY",58.0,NaN
3,1166,3rd,No,Saad,0,25.00,0,0,2672,7.2250,NaN,Cherbourg,NaN,NaN,NaN,7.0,NaN
4,256,1st,Yes,Sagesser,1,24.00,0,0,PC 17477,69.3000,B35,Cherbourg,9,NaN,NaN,69.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,546,2nd,Yes,Renouf,1,30.00,3,0,31027,21.0000,NaN,Southampton,NaN,NaN,"Elizabeth, NJ",21.0,NaN
1305,529,2nd,No,Parkes,0,NaN,0,0,239853,0.0000,NaN,Southampton,NaN,NaN,Belfast,0.0,NaN
1306,1309,3rd,No,Zimmerman,0,29.00,0,0,315082,7.8750,NaN,Southampton,NaN,NaN,NaN,8.0,NaN
1307,169,1st,Yes,Icard,1,38.00,0,0,113572,80.0000,B28,NaN,6,NaN,NaN,80.0,NaN
1308,285,1st,Yes,Stone,1,62.00,0,0,113572,80.0000,B28,NaN,6,NaN,"Cincinatti, OH",80.0,NaN